@import "tailwindcss";

/*

This stylesheet is for global styles only. 
Please style individual elements in separate dedicated stylesheets

*/

@theme {
  --font-sans: "Oxygen", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Old colors for compatibility */
  --color-seagreen: var(--color-primary-light);
  --color-turquoise: var(--color-primary-dark);
  --color-betta: var(--color-secondary-light);
  --color-tarawera: var(--color-secondary-dark);
  --color-potassium: var(--color-disabled-light);
  /*--color-gray-300 replaced with --color-gray-light*/
  /*--color-zinc-800 replaced with --color-gray-dark*/
  /*--color-emerald-100 replaced with color-primary-extralight*/

  /* New colors */
  --color-primary-light: #74C9B5;
  --color-primary-dark: #1EA493;
  --color-secondary-light: #136E8D;
  --color-secondary-dark: #063751;
  --color-gray-light: var(--color-gray-300);
  --color-gray-dark: var(--color-zinc-800);
  --color-primary-extralight: var(--color-emerald-100);
  --color-disabled-light: #8b9d9b;
  --color-disabled-dark: #404547;
  --color-selection-highlight: #4388A1;
  --color-error: #c2162d;
  --color-error-dark: #7A0e1d;
  --color-error-extradark: #36070c;
  --color-slate-100: #f1f5f9;

}

html,
body {
  @apply bg-white;
  --position-top: 0;
}

.noscroll {
  position: fixed;
  top: var(--position-top, 0);
  inline-size: 100%;
  overflow-y: scroll;
}


/* TEXT ***********************************************************************/

::selection {
  /* color: #c2162d; */
  background-color: var(--color-selection-highlight);
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand";
  font-weight: 500;
  margin-bottom: calc(var(--spacing) * 2);
  transition: 0.2s;
}

h1 {
  font-size: 2.5rem;
  color: var(--color-primary-light);
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  color: var(--color-primary-dark);
  text-transform: uppercase;
}

h3 {
  font-size: 1.7rem;
  color: var(--color-secondary-light);
  text-transform: uppercase;
}

h4 {
  font-size: 1.7rem;
  color: var(--color-secondary-light);
}

h5 {
  font-size: 1.5rem;
  color: var(--color-secondary-light);
}

h6 {
  font-size: 1.2rem;
  color: var(--color-secondary-light);
}

a h1:hover,
a h2:hover {
  color: var(--color-secondary-light);
}

a h3:hover,
a h4:hover,
a h5:hover,
a h6:hover {
  color: var(--color-primary-light);
}

p {
  margin-bottom: calc(var(--spacing) * 2);
  white-space: pre-line;
}

p:last-of-type {
  margin-bottom: 0;
}

p > a,
.link {
  color: var(--color-primary-dark);
  transition: 0.2s;
}

p > a:hover,
.link:hover {
  color: var(--color-primary-light);
  cursor: pointer;
}

p a,
li a {
  /* color: var(--color-primary-dark); */
  border-bottom: 1px solid;
  border-color: var(--color-primary-dark);
}

p a:hover,
li a:hover {
  border-color: var(--color-primary-light);
}

ul {
  list-style-type: disc;
  margin-left: 1rem;
  margin-bottom: calc(var(--spacing) * 2);
}

ol {
  list-style-type: decimal;
  margin-left: 1rem;
  margin-bottom: calc(var(--spacing) * 2);
}

/* MENU ********************************************************************/

#menu .link,
#side-menu .link {
  z-index: 1;
  color: var(--color-black);
  font-size: var(--text-sm);
}

#menu .active {
  color: var(--color-secondary-light);
  font-weight: bold;
}

#menu .link:hover,
#side-menu .link:hover {
  color: var(--color-primary-light);
  cursor: pointer;
}

#menu .menu-dropdown-button {
  z-index: 1;
  /* padding: calc(var(--spacing) * 4); */
  position: relative;
}

#menu .menu-dropdown {
  z-index: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border: 2px solid var(--color-primary-light);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);

  opacity: 0;
  transition: margin-top 0.5s ease-in, opacity 0.2s 0s;
  /* When disappear */
}

#menu .menu-dropdown-container.active-popup .menu-dropdown-button {
  color: var(--color-primary-light);
}

#menu .menu-dropdown-container.active-popup .menu-dropdown {
  opacity: 1;
  margin-top: -4px;
  transition: margin-top 0.5s ease-out, opacity 0.2s 0.3s;
  /* When appear */
}


#side-menu .side-menu-dropdown-button {
  transition: 0.2s;
}

#side-menu .side-menu-dropdown {
  max-height: 0px;
  opacity: 0;
  overflow-y: hidden;
  transition: 0.8s;
}

#side-menu .side-menu-dropdown-container.active-popup .side-menu-dropdown-button {
  color: var(--color-primary-light);
}

#side-menu .side-menu-dropdown-container.active-popup .side-menu-dropdown {
  max-height: 200px;
  opacity: 1;
}


/* BUTTONS ********************************************************************/

.button {
  background-color: var(--color-primary-dark);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  border: 2px solid var(--color-primary-dark);
  border-radius: var(--radius-md);
  color: var(--color-white);
  text-align: center;
  transition: 0.2s;
}

.button:hover {
  color: white;
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
  cursor: pointer;
}

.button:hover:active {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
}

.button.button-light {
  background-color: var(--color-white);
  color: var(--color-primary-dark);
}

.button.button-light:hover {
  background-color: var(--color-white);
  color: var(--color-secondary-light);
  cursor: pointer;
}

.button.button-light:hover:active {
  color: var(--color-secondary-dark);
}

.button.button-disabled,
button:disabled.button {
  background-color: var(--color-disabled-light);
  border: 2px solid var(--color-disabled-light);
  cursor: default;
}

.button.button-light.button-disabled,
button:disabled.button.button-light {
  background-color: var(--color-white);
  border: 2px solid var(--color-disabled-light);
  color: var(--color-disabled-light);
  cursor: default;
}

.button.button-pg {
  width: calc(var(--spacing) * 10);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.button-pg.button-light {
  transition: 0s;
}

.button.button-pg-arrow {
  width: calc(var(--spacing) * 14);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.button.button-delete {
  background-color: var(--color-error);
  border-color: var(--color-error);
  color: var(--color-white);
}

.button.button-delete:hover {
  background-color: var(--color-error-dark);
  border-color: var(--color-error-dark);
}

.button.button-delete:hover:active {
  background-color: var(--color-error-extradark);
  border-color: var(--color-error-extradark);
}

.button.button-light.button-delete {
  background-color: var(--color-white);
  color: var(--color-error);
  border-color: var(--color-error);
}

.button.button-light.button-delete:hover {
  background-color: var(--color-white);
  color: var(--color-error-dark);
  border-color: var(--color-error-dark);
}

.button.button-light.button-delete:hover:active {
  color: var(--color-error-extradark);
  border-color: var(--color-error-extradark);
}

.button-icon {
  color: var(--color-primary-dark);
  transition: 0.2s;
}

.button-icon:hover {
  color: var(--color-secondary-dark);
  cursor: pointer;
}

.button-red {
  color: var(--color-error);
  border-color: var(--color-error);
  transition: 0.2s;
}

.button-red:hover {
  color: #71000f;
  border-color: #71000f;
  cursor: pointer;
}


/* FORMS ***********************************************************************/

.input-text {
  background-color: var(--color-white);
  margin-top: var(--spacing);
  padding: var(--spacing) calc(var(--spacing) * 2);
  border: 2px solid var(--color-primary-light);
  border-radius: var(--radius-md);
  transition: 0.2s;
}

.input-text:focus {
  border-color: var(--color-secondary-light);
  outline: none;
}

input:disabled.input-text,
textarea:disabled.input-text,
select:disabled.input-text,
.input-text.input-disabled {
  border-color: var(--color-disabled-light);
  color: var(--color-disabled-light);
  cursor: default;
}

input[type="file"]::file-selector-button {
  background-color: var(--color-white);
  margin-top: var(--spacing);
  margin-right: calc(var(--spacing) * 3);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  border: 2px solid var(--color-primary-light);
  border-radius: var(--radius-md);
  color: var(--color-primary-dark);
  text-align: center;
  transition: 0.2s;
}

input[type="file"]::file-selector-button:hover {
  border-color: var(--color-primary-dark);
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover:active {
  border-color: var(--color-secondary-dark);
  color: var(--color-secondary-dark);
}

input[type="file"]:disabled::file-selector-button,
input[type="file"].input-disabled::file-selector-button {
  border-color: var(--color-disabled-light);
  color: var(--color-disabled-light);
}

input[type="file"]:disabled::file-selector-button:hover,
input[type="file"].input-disabled::file-selector-button:hover {
  cursor: default;
}

.checkbox {
  display: inline-block;
  margin-right: calc(var(--spacing) * 4);
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox>input {
  display: none;
}

.checkbox>p {
  width: fit-content;
  display: flex;
  align-items: center;
}

.checkbox>p::before {
  content: "\F26E";
  font-family: "Bootstrap-icons";
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 5px;
  border: 2px solid var(--color-primary-light);
  border-radius: var(--radius-md);

  color: var(--color-white);
  background-color: var(--color-white);

  display: flex;
  align-items: center;
  -webkit-text-stroke: 1px;

  transition: 0.2s;
}

.checkbox:hover>p:before {
  background-color: var(--color-primary-extralight);
}

.checkbox>input:checked+p:before {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.checkbox>input[type="checkbox"]:disabled+p::before,
.checkbox>input[type="checkbox"].input-disabled+p::before {
  border-color: var(--color-disabled-light);
}

.checkbox:hover>input[type="checkbox"]:disabled+p:before,
.checkbox:hover>input[type="checkbox"].input-disabled+p:before {
  background-color: var(--color-white);
}

.checkbox>input[type="checkbox"]:checked:disabled+p::before,
.checkbox>input[type="checkbox"]:checked.input-disabled+p::before {
  background-color: var(--color-disabled-light);
}

.checkbox:hover>input[type="checkbox"]:disabled+p,
.checkbox:hover>input[type="checkbox"].input-disabled+p {
  cursor: default;
}


.radio {
  display: inline-block;
  margin-right: calc(var(--spacing) * 4);
}

.radio:hover {
  cursor: pointer;
}

.radio>input {
  display: none;
}

.radio>p {
  width: fit-content;
  display: flex;
  align-items: center;
}

.radio>p::before {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 5px;
  border: 2px solid var(--color-primary-light);
  border-radius: calc(infinity * 1px);
  background-color: var(--color-white);
  transition: 0.2s;
}

.radio:hover>p:before {
  background-color: var(--color-primary-extralight);
}

.radio>input:checked+p:before {
  border: 6px solid var(--color-primary-dark);
}

.radio:hover>input:checked+p:before {
  background-color: var(--color-white);
}

.radio>input[type="radio"]:disabled+p::before,
.radio>input[type="radio"].input-disabled+p::before {
  border-color: var(--color-disabled-light);
}

.radio:hover>input[type="radio"]:disabled+p:before,
.radio:hover>input[type="radio"].input-disabled+p:before {
  background-color: var(--color-white);
}

.radio:hover>input[type="radio"]:disabled+p,
.radio:hover>input[type="radio"].input-disabled+p {
  cursor: default;
}

.input-text.input-required {
  border-color: var(--color-error);
}

.checkbox>input[type="checkbox"].input-required+p::before {
  border-color: var(--color-error);
}

.checkbox:hover>input[type="checkbox"].input-required+p:before {
  background-color: var(--color-red-100);
}

.checkbox>input[type="checkbox"]:checked.input-required+p::before {
  background-color: var(--color-error);
}

.radio>input[type="radio"].input-required+p::before {
  border-color: var(--color-error);
}

.radio:hover>input[type="radio"].input-required+p:before {
  background-color: var(--color-red-100);
}

input[type="file"].input-required::file-selector-button {
  border-color: var(--color-error);
  color: var(--color-error);
}

input[type="file"].input-required::file-selector-button:hover {
  border-color: var(--color-red-500);
  color: var(--color-red-500);
}

.input-error {
  display: none;
  position: absolute;
  font-size: 0.9rem;
  text-align: right;
  color: var(--color-error);
}

.input-text.input-required+.input-error {
  display: block;
}

input[type="checkbox"].input-required~.input-error,
input[type="radio"].input-required~.input-error,
input[type="file"].input-required~.input-error {
  display: block;
}

/* ICONS ***********************************************************************/

.bi {
  -webkit-text-stroke: 0.5px;
  /*Originally 1px*/
}



.banner>.banner-content>h1,
.banner>.banner-content>h2,
.banner>.banner-content>h3,
.banner>.banner-content>h4,
.banner>.banner-content>h5,
.banner>.banner-content>h6,
.banner>.banner-content>p {
  color: white;
}

.banner.bg-secondary-dark>.banner-content>h1,
.banner.bg-secondary-dark>.banner-content>h2,
.banner.bg-secondary-dark>.banner-content>h3,
.banner.bg-secondary-dark>.banner-content>h4,
.banner.bg-secondary-dark>.banner-content>h5,
.banner.bg-secondary-dark>.banner-content>h6,
.banner.bg-secondary-dark>.banner-content>p {
  color: var(--color-primary-light);
}

.banner-breadcrumb {
  margin-left: -15px;
  transition: 0.2s;
  color: white;
}

.banner-breadcrumb>strong {
  border-bottom: 2px solid #ffffff00;
  transition: 0.2s;
}

.banner-breadcrumb:hover {
  margin-left: -20px;
  color: var(--color-primary-light);
}

.banner-breadcrumb:hover>strong {
  margin-left: 5px;
  color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}


#task-forces>div:nth-child(4n-2),
#task-forces>div:nth-child(4n-1) {
  background-color: var(--color-slate-100);
}

@media (width < 64rem) {
  #task-forces>div:nth-child(n) {
    background-color: var(--color-white);
  }

  #task-forces>div:nth-child(even) {
    background-color: var(--color-slate-100);
  }


}